## ESTRUTURAS DE DADOS, FUNÇÕES E ARQUIVOS INTERNOS

### ESTRUTURA DE DADOS E SEQUÊNCIAS

#### TUPLA

In [93]:
### Sequência imutável, de tamanho fixo. Uma vez feita não é alterada.
tup = (4,5,6)
tup

(4, 5, 6)

In [94]:
### Os parênteses nesse caso pode ser omitido
tup = 4,5,6
tup

(4, 5, 6)

In [95]:
### Conseguimos converter qualquer sequência em tupla
tuple([3,6,9])

(3, 6, 9)

In [96]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [97]:
### Acessamos os elementos com colchetes
tup[1]

5

In [98]:
### Tuplas em expressões mais complexas
tup2 = (4,5,6), (5,10)
tup2[0]

(4, 5, 6)

In [99]:
tup2[1]

(5, 10)

In [100]:
### Count, conto o número de ocorrências de certo valor passado
tup3= 1,2,2,3,4,4,4,4,10
tup3.count(2)

2

#### LISTAS

In [101]:
# Sequências mutáveis. Podem ser alteradas fácilmente
lista = [1,2,3,4,5]
lista

[1, 2, 3, 4, 5]

In [102]:
lista2 = list(tup3)
lista2

[1, 2, 2, 3, 4, 4, 4, 4, 10]

In [103]:
### Modificando elemento da lista
lista2[8] = 21
lista2

[1, 2, 2, 3, 4, 4, 4, 4, 21]

In [104]:
### Concatenar listas
lista + lista2

[1, 2, 3, 4, 5, 1, 2, 2, 3, 4, 4, 4, 4, 21]

In [105]:
lista.sort()
lista

[1, 2, 3, 4, 5]

In [106]:
### Fatiamento
lista2[1:5]

[2, 2, 3, 4]

In [107]:
### Fatiamento str
hello = 'HELLO!'
hello[2:4]

'LL'

In [108]:
hello[-5:-2]

'ELL'

In [109]:
### step
hello[::2]

'HLO'

In [110]:
### Inverter iterável 
hello[::-1]

'!OLLEH'

#### Dicionário

Armazena uma coleção de pares na forma chave -> valor

In [111]:
dict_vazio = {}

d1 = {'a': 'algum valor', 'b': [1,2,3,4]}

In [112]:
d1

{'a': 'algum valor', 'b': [1, 2, 3, 4]}

In [113]:
### Adicionar chave -> valor
d1[7] = 'um inteiro'
d1

{'a': 'algum valor', 'b': [1, 2, 3, 4], 7: 'um inteiro'}

In [114]:
### Acessar valor contido na chave
d1['b']

[1, 2, 3, 4]

In [115]:
### Verificar se a chave está no dict
'b' in d1

True

In [116]:
### Deletando a chave e valor
del d1[7]
d1

{'a': 'algum valor', 'b': [1, 2, 3, 4]}

In [117]:
ret = d1.pop('a')
ret

'algum valor'

In [118]:
d1

{'b': [1, 2, 3, 4]}

In [119]:
### Listar chaves
list(d1.keys())

['b']

In [120]:
### Listar valores
list(d1.values())

[[1, 2, 3, 4]]

In [121]:
### Listar chaves e valores
list(d1.items())

[('b', [1, 2, 3, 4])]

In [122]:
d1.update({'a': [2, 4, 6, 8], 'c': [3, 6, 9]})

In [123]:
d1

{'b': [1, 2, 3, 4], 'a': [2, 4, 6, 8], 'c': [3, 6, 9]}

##### Dict a partir de sequências

In [124]:
mapping = {}
for key, value in zip(range(5), reversed(range(5))):
    mapping[key] = value

In [125]:
tuples = zip(range(5), reversed(range(5)))
tuples

In [126]:
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

##### Dict a partir de valores padrão

In [127]:
palavras = ['Aritimética', 'Álgebra', 'Geometria', 'Livros', 'Logáritmos']

In [128]:
por_letra = {}
for palavra in palavras:
    letra = palavra[0]
    if letra not in por_letra:
        por_letra[letra] = [palavra]
    else:
        por_letra[letra].append(palavra)

In [129]:
por_letra

{'A': ['Aritimética'],
 'Á': ['Álgebra'],
 'G': ['Geometria'],
 'L': ['Livros', 'Logáritmos']}

##### Setdefault

In [130]:
by_letter = {}
for palavra in palavras:
    letra = palavra[0]
    by_letter.setdefault(letra, []).append(palavra)

In [131]:
by_letter

{'A': ['Aritimética'],
 'Á': ['Álgebra'],
 'G': ['Geometria'],
 'L': ['Livros', 'Logáritmos']}

##### Collections

In [132]:
from collections import defaultdict

In [133]:
by_letter = defaultdict(list)

In [134]:
for palavra in palavras:
    by_letter[palavra[0]].append(palavras)

##### Lista como chave

In [135]:
### Converter a lista em tupla
d = {}
d[tuple(lista)] = lista2

In [136]:
d

{(1, 2, 3, 4, 5): [1, 2, 2, 3, 4, 4, 4, 4, 21]}

#### Conjunto

* São como os conjuntos da matemática;
* Suportam operações matemáticas da teoria dos conjuntos;

##### Set

In [137]:
lista2

[1, 2, 2, 3, 4, 4, 4, 4, 21]

In [138]:
set(lista2) # Elementos únicos da lista

{1, 2, 3, 4, 21}

##### Operações de conjuntos

In [139]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8,}

In [140]:
a.union(b) ### A∪B

{1, 2, 3, 4, 5, 6, 7, 8}

In [141]:
a|b ### A∪B

{1, 2, 3, 4, 5, 6, 7, 8}

In [142]:
a.intersection(b) ### A∩B

{3, 4, 5}

In [143]:
a & b ### A∩B

{3, 4, 5}

In [144]:
a.remove(2)
a

{1, 3, 4, 5}

In [145]:
a.add(2)
a

{1, 2, 3, 4, 5}

In [146]:
a.clear()
a

set()

In [147]:
a.update(b) ### Conjunto A passa a ser A∪B 
a

{3, 4, 5, 6, 7, 8}

In [148]:
a.difference(b) ### A-B

set()

In [149]:
a.difference_update(b)
a

set()

In [150]:
a.issubset(b) ### A⊂B

True

In [151]:
a.issuperset(b) ### A⊃B

False

##### Lista em conjuntos

In [152]:
my_data = [1,2,3,4]
my_set = {tuple(my_data)}

In [153]:
my_set

{(1, 2, 3, 4)}

#### ZIP

Gera pares com os elementos de listas, tuplas e sequências

In [154]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [155]:
### O número de elementos é determinado pela sequência mais curta
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

Uso do foo em iteração simultânea por várias sequências

In [156]:
for index, (a,b) in enumerate(zip(seq1, seq2)):
    print(f'{index}: {a},{b}')

0: foo,one
1: bar,two
2: baz,three

In [157]:
tupla_iteravel = [('J392', 'João'), ('M890', 'Maria'), ('J681', 'José'), ('C325', 'Claúdia'), ('A49', 'Ana')]
ids, nomes  = zip(*tupla_iteravel)

ids = list(ids)
nomes = list(nomes)

print("IDs = ", ids)
print("Nomes = ", nomes)

IDs =  ['J392', 'M890', 'J681', 'C325', 'A49']
Nomes =  ['João', 'Maria', 'José', 'Claúdia', 'Ana']

#### LIST, SET E DICTIONARY COMPREHENSIONS

##### LIST

Permite formar uma nova lista atráves de um **filtro dos elementos de uma coleção**

``` 
[expressão for valor in coleção if condição]
```

In [158]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x)>2] ## Upper nos obj com tamanho maior que 2

['BAT', 'CAR', 'DOVE', 'PYTHON']

##### Dictionary

``` 
dict_comp = {chave-expressão: valor-expressão for valor in coleção
            if condição}
```

In [159]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

##### Set

```
set_comp = {expressão for valor in coleção if condição}
```

In [160]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [161]:
### EX:
alturas = [1.70, 1.80, 1.65, 1.75, 1.90]
pesos = [65, 80, 58, 70, 95]

imc = [round((peso / altura**2), 1) for altura, peso in zip(alturas, pesos)]
print(imc)

[22.5, 24.7, 21.3, 22.9, 26.3]

##### List comprehensions aninhadas

In [162]:
all_data = [['John', 'Emmiy', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', ' Natalia', 'Pilar']]

In [163]:
nomes_interessados = []

for names in all_data:
    as_suficientes = [name for name in names if name.count('a') >= 2]
    nomes_interessados.extend(as_suficientes)

In [164]:
nomes_interessados

['Maria', ' Natalia']

In [165]:
resultado = [name for names in all_data for name in names
             if name.count('a') >= 2]
resultado

['Maria', ' Natalia']